

/*
    Elliot Dean
    Styling for Coleccion
    31 July 2023

*/

/*
    Included font-families in JavaFX:
      Alef - https://fonts.google.com/specimen/Alef?query=alef
      Rubik - https://fonts.google.com/specimen/Rubik?query=rubik
      Carlito - https://fonts.google.com/specimen/Carlito?query=carlito
*/

.root {
  -fx-font-family: "Rubik";
}


#NewGame {
  -fx-background-color: none;
}


.GameButton {
  -fx-color-one: Green;
  -fx-color-two: Green;
  -fx-color-three: Green;

  -fx-background-color:
  linear-gradient(#f2f2f2, -fx-color-one),
  linear-gradient(#fcfcfc 0%, -fx-color-two 20%, -fx-color-one 100%),
  linear-gradient(#dddddd 0%, -fx-color-three 50%);


  -fx-background-radius: 9, 8, 7;
  -fx-background-insets: 0, 1, 2;
  -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);

  -fx-transition-duration: 0.4s;

}

.GameButton:hover {
  -fx-color-one: #981100;
  -fx-color-two: #981100;
  -fx-color-three: #981100;
}

.GameButton:pressed {
  -fx-color-one: #235891;
  -fx-color-two: #235891;
  -fx-color-three: #235891;
}

.ActiveButton {
  -fx-color-one: yellow;
  -fx-color-two: yellow;
  -fx-color-three: yellow;
}

.ScoreLabel {

  -fx-color-one: white;
  -fx-background-color: green;
  -fx-font-size: 30px;
  -fx-font-weight: bold;
  -fx-text-fill: purple;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );

}

.TimerLabel {

  -fx-color-one: blue;
  -fx-background-color: yellow;
  -fx-font-size: 30px;
  -fx-font-weight: bold;
  -fx-text-fill: red;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );

}



#HsTitle {
  -fx-font-family: Didac Gothic;
  -fx-background-color: black;
  -fx-font-size: 35px;
  -fx-font-weight: bold;
  -fx-text-fill: white;
}

#HsIntro {
  -fx-background-color: white;
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-fill: black;
}

#HsProps {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-fill: black;
}

#HsExamples {
  -fx-font-size: 25px;
  -fx-font-weight: bold;
  -fx-text-fill: black;
}

/*


*/
